/* Mobile */
@media (max-width: 739px) {
    .password__item {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }

    .password__item-title {
        margin-bottom: 4px;
    }

    .password__item-input {
        width: 100%;
    }
}
