/* Mobile and Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .product__control {
        flex-direction: column;
        align-items: flex-start;
    }

    .product__filter {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .product__search {
        width: 100%;
    }

    .product__search-wrapper {
        width: 100%;
    }

    .product__search-input {
        width: 100%;
    }
}