.product-create__content {
    padding: 32px 0;
}

.product-create__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-create__img-view {
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.product-create__img-file {
    display: none;
}

.product-create__list {
    padding: 0px 16px;
    list-style: none;

}

.product-create__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.product-create__item>span {
    display: block;
    margin-bottom: 4px;
}

.product-create__item input,
.product-create__item textarea,
.product-create__item select {
    padding: 4px 12px;
    outline: none;
    border: 2px solid var(--bg-color8);
    border-radius: 8px;
}

.product-create__item input:focus,
.product-create__item textarea:focus,
.product-create__item select:focus {
    border-color: var(--main-color);
}

.product-create__item-sizes {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 8px;
    padding: 0 16px;
}

.product-create__item-size {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--bg-color8);
    cursor: pointer;
    user-select: none;
}

.product-create__item-size.active {
    border-color: var(--main-color);
    border-width: 2px;
    transform: translateY(-3px);
    font-weight: 600;
}

.product-create__btn {
    margin-top: 8px;
    padding: 4px 20px;
}

.product-create__confirm {
    margin-bottom: 16px;
}

.product-create__confirm {
    width: 100px;
    padding: 4px 12px;
    outline: none;
    border: none;
    background-color: var(--bg-color6);
    color: var(--white-color);
    border-radius: 12px;
    cursor: pointer;
    margin-right: 4px;
}

.product-create__confirm:hover {
    outline: none;
    background-color: var(--bg-color4);
    color: var(--white-color);
}

.product-create__confirm.disabled {
    cursor: no-drop !important;
    opacity: 0.6;
}

.product-create__confirm.disabled:hover {
    outline: none;
    opacity: 0.6;
    background-color: var(--bg-color6);
}

.product-create__btn-add {
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bg-color8);
    color: var(--bg-color8);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    margin-top: 12px;
}

.product-create__btn-add:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}

.product-create__samples {
    list-style-type: none;
    padding: 12px;
    margin: 0;
    max-height: 650px;
    overflow-y: auto;
}

.product-create__samples::-webkit-scrollbar {
    width: 4px;
    max-width: 4px;
}

/* Track */
.product-create__samples::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
    border-radius: 10px;
}

/* Handle */
.product-create__samples::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bg-color8);
}

/* Handle on hover */
.product-create__samples::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color4);
}

.product-create__sample {
    margin-bottom: 18px;
    padding: 32px 16px 40px;
    position: relative;
    display: flex;
    border-radius: 12px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 80%);
}

.product-create__sample-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-create__sample-delete:hover {
    color: var(--main-color);
}

.product-create__sample-color {
    position: relative;
    flex: 1;
}

.product-create__sample-color-selected {
    display: flex;
    align-items: center;
}

.product-create__sample-color-selected span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--bg-color8);
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.product-create__sample-color-open {
    transition: transform linear 0.2s;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color8);
    margin-left: 9px;
}

.product-create__sample-color-open:hover {
    color: var(--bg-color5);
}

.product-create__sample-color-open.active {
    transform: rotate(180deg);
    color: var(--bg-color5);
}

.product-create__sample-color-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100px;
    overflow-y: auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-create__sample-color-list::-webkit-scrollbar {
    display: none;
}

.product-create__sample-color-list-wrapper {
    position: absolute;
    padding: 8px 16px;
    border: 2px solid var(--bg-color9);
    margin-top: 10px;
    animation: fadeIn linear 0.2s;
    border-radius: 6px;
    background-color: var(--white-color);
    z-index: 1;
}

.product-create__sample-color-list-wrapper::before {
    content: "";
    position: absolute;
    left: 7px;
    top: -17px;
    border-width: 8px 10px;
    border-style: solid;
    border-color: transparent transparent var(--bg-color9) transparent;
    z-index: -1;
}

.product-create__sample-color-list-wrapper::after {
    content: "";
    position: absolute;
    left: 10px;
    top: -12px;
    border-width: 6px 7px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.product-create__sample-color-list>li {
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    /* border: 1px solid var(--bg-color8); */
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.product-create__sample-color-list>li.active {
    border-width: 2px;
    font-weight: 600;
}

.product-create__sample-color-list>li.selected {
    opacity: 0.6;
    cursor: no-drop;
}

.product-create__sample-color-list>li>span {
    border: 1px solid var(--bg-color8);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
}

.product-create__sample-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
}

.product-create__sample-img-view {
    width: 140px;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.product-create__sample-img-file {
    display: none;
}

.product-create__sample-img-icon,
.product-create__img-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: absolute;
    font-size: 16px;
    bottom: -26px;
    cursor: pointer;
    background-color: var(--bg-color8);
    color: var(--white-color);
    border-radius: 50%;
}

.product-create__sample-img-icon:hover,
.product-create__img-icon:hover {
    background-color: var(--bg-color6);
}
